.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.308); */
  background-image: url("../../assets/images/four.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 330px;
  height: 460px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(12px) saturate(163%);
  -webkit-backdrop-filter: blur(12px) saturate(163%);
  background-color: rgba(255, 255, 255, 0.24);
  border: 1px solid rgba(209, 213, 219, 0.3);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.getdata {
  width: 310px;
  height: 100px;
  border: 2px solid black;
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displaydata {
  width: 310px;
  height: 240px;
  overflow-y: auto;
}

.addBtn {
  width: 88px;
  height: 30px;
  margin: 2px;
  font-weight: 600;
  cursor: pointer;
}

.clrBtn {
  width: 120px;
  height: 30px;
  margin: 2px;
  font-weight: 600;
  cursor: pointer;
}

.editInput {
  width: 90%;
  margin: 10px 10px 0px 10px;
  height: 24px;
}

.inputbtn {
  padding: 6px;
  display: flex;
  justify-content: space-between;
}

.homein {
  width: 182px;
}

h1 {
  background-color: rgba(0, 0, 0, 0.144);
  background-color: #ced6da94;
  width: 90%;
  text-align: center;
}

@media screen and (min-width: 450px) {
  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    background: #121212;
  }

  ::-webkit-scrollbar-thumb {
    background: #555;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

@media screen and (max-width: 529px) {
  .layout {
    background-image: url("../../assets/images/three.jpg");
  }
}
