.block,
.edit-section {
  padding: 4px;
  border: 1px solid;
  margin: 4px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.37);
  padding: 4px;
}

.row h4 {
  width: 200px;
}

.change {
  display: none;
}

.btns {
  width: 76px;
  height: 30px;
  margin: 2px;
  font-weight: 600;
  cursor: pointer;
}

.btnblock {
  margin-top: 6px;
  display: flex;
  justify-content: center;
}

.editInput {
  width: 90%;
  margin: 10px 10px 0px 10px;
  height: 24px;
}

@media screen and (max-width: 529px) {
  .layout {
    background-image: url("../../assets/images/three.jpg");
  }
  h4 {
    color: rgba(245, 245, 245, 0.808);
    font-weight: 400;
  }
}
